body{
  background-color: rgb(228, 238, 250);
  font-family: 'Montserrat', sans-serif;
}
footer{
  color: rgb(160, 128, 168);
}
header{
  text-align: center;
}
.App-footer{
  text-align: center;
  margin: 30px 0px;
}
.App-header {
  margin: 0 auto; 
  padding: 30px;
  max-width: 400px;
  font-size: 30px;
  text-align: center;
  color: rgb(160, 128, 168);

}