.Meaning h3{
    text-transform: capitalize;
}
.Meaning .example{
    font-size: 14px;
    opacity: 0.5;
    margin-top: 15px;
}
.Meaning .example:first-letter{
    text-transform: capitalize;
}
.Meaning .part-of-speech{
    font-size: 22px;
    font-weight: bold;
}